@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

.modal-content{
    width: 65%;
    margin: 0 auto;
}

.modal-open .modal{
    overflow-y: auto !important;
}

.modal-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.faq-card-header{
    p.title{
        padding: 20px 25px;
        margin: 0;
    }
}

.btn-book-now{
    background-color: #ab2e61 !important;
    border: #ab2e61;
}

.btn-book-now:hover{
    background-color: #992957;
}

.add-to-cart-modal {
    background-color: white;


.two-str {
    color: rgba(0, 0, 0, .858);
    display: table;
    margin-bottom: 5px;
    width: 20%;
}

.swiper {
    width: auto;
    max-width: 42rem;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
}

.swiper-button-prev {
    color: #000;
}

.swiper-button-next {
    color: #000;
}

.img-header {
    height: 220px !important;
}

@media only screen and (max-width: 1030px) {
    .swiper {
        width: auto;
        max-width: 55rem;
        height: 100%;
    }

    .img-header {
        height: 180px !important;
    }
}

@media only screen and (max-width: 770px) {
    .swiper {
        width: auto;
        max-width: 40rem;
        height: 100%;
    }

}

@media only screen and (max-width: 430px) {
    .swiper {
        width: auto;
        max-width: 22rem;
        height: 100%;
    }

    .img-header {
        height: 220px !important;
    }
}

@media only screen and (max-width: 380px) {
    .swiper {
        width: auto;
        max-width: 20rem;
        height: 100%;
    }

    .img-header {
        height: 190px !important;
    }
}

@media only screen and (max-width: 330px) {
    .swiper {
        width: auto;
        max-width: 16rem;
        height: 100%;
    }

    .img-header {
        height: 150px !important;
    }
}

}