/bootstrap/compiled.php
### Laravel ###
vendor/
storage/
node_modules/
npm-debug.log
Ltheme/
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
public/uploads/
public/addons/
storage/*.key
temp/*
.env.*.php
.env.php
.env
composer.lock
yarn.lock
.user.ini
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/public/app-translations
Homestead.yaml
Homestead.json
